.block_1 {
    width: 350px;
    height: 350px;
    margin: 20px;
    float: left;
    padding: 10px;
    border: 1px solid blue;
    border-radius: 4px;
}
.block_2 {
    width: 350px;
    height: 100px;
    margin: 20px;
    padding: 10px;
    float: left;
    border: 1px solid blue;
    border-radius: 4px;
}
h3 {
    font-style: unset;
    font-size: 20px;
    color: grey;
}
.clear {
    clear: both;
}
.name {
    font-size: 20px;
}
p {
    font-size: 17px;
    font-weight: lighter;
}