/* product display grid */
main {
    grid-area: main;
    padding: 1rem;
}
.prod_grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.row {
    
}
.center {
    justify-content: center;
}
/* Ratings */
.rating span {
    color: #f0c040;
    margin: 0.1rem;
}
.rating span:last-child {
    color: #404040;
    margin: 0.1rem;
}